<!DOCTYPE html>
<html lang=EN >
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    </head>


    <body>
        <h1><a href=<%= loginType%>>login</a></h1>
        <form action="" method="post">    
            <select onchange="this.form.submit()" id="option" name="option">
                <option><%= usercookieval%></option>
                <option>Weak</option>
                <option>Moderate</option>
                <option>Strong</option>
            </select>
    </body>


    </html>