<html lang=EN >
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    </head>


    <body>
        <h1>Logged In</h1>
        <h2><%= message%></h2>
        <form action="" method="post">
            <label for="team_name">Enter name: </label>
            <input type="hidden" name="_csrf" value="<%= csrfToken  %>">
            <input id="username" type="text" name="username" value="jack">
            <input id="password" type="text" name="password" value="daf">
            <input type="submit" value="OK">
        </form>
    </body>


    </html>