<!DOCTYPE html>
<html lang=EN >
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    </head>


    <body>
        <div class="sidenav">
            <a href="/">Index</a>
            <a href=<%= loginType%>>Brute Force</a>
            <a href="#">Command Injection</a>
            <a href="#">CSRF</a>
            <a href="#">SQL Injection</a>
            <a href="#">XSS</a>
            <a href="/selectSecurity">Select Security</a>
          </div>
          <div class="main">
            <h2>Select Security Level Below </h2>
        <form action="" method="post">    
            <select onchange="this.form.submit()" id="option" name="option">
                <option><%= usercookieval%></option>
                <option>Weak</option>
                <option>Moderate</option>
                <option>Strong</option>
            </select>

        </div>
    </body>


    </html>